.app-bar {
	background: #338171;
}

.app-bar .row {
	height: 90px;
	background: url('../images/ewdn.png') no-repeat 10px center;
}

.app-bar a {
	margin-left: 215px
}

body .btn-primary {
	background-color: #1d5247;
}

#wb-info .landscape {
	background-image: none;
	background-color: #338171;
}

@media screen and (max-width: 767px) {

	.app-list-main .btn, .app-list-main .btn:visited {
		background-color: #338171;
		color: #FFF;
	}

	a.btn.overlay-lnk.active {
		background-color: #338171;
	}
}

