.app-bar {
	background: #338171;
}

.banner {
	background-color: #338171;
	color: #fff;
	position: relative;
	min-height: 78px;
	padding-top: 10px;
	padding-bottom: 10px;
}


@media only screen and (min-width: 992px) {
	.banner img {
		position: absolute;
		top: 10px;
		left: 0;
	}

}
